.git/**
.github/**
.vscode/**
.vscode-test/**
.patch-transfer/**
coverage/**
node_modules/**
out/**
src/**
docs/**
**/*.test.*
**/*.map
**/*.ts
**/.vscode-test.*
.gitignore
.npmrc
.yarnrc
esbuild.js
eslint.config.*
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
vsc-extension-quickstart.md
*.vsix
